<a href="https://colab.research.google.com/github/sha-linimoorthy/Website-Analyser/blob/main/Publishers_fetch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd

df=pd.read_csv("/content/publishers.txt",sep=";",on_bad_lines='skip')
df

,Rank,Sourceid,Title,Type,Issn,SJR,SJR Best Quartile,H index,Total Docs. (2021),Total Docs. (3years),...,Total Cites (3years),Citable Docs. (3years),Cites / Doc. (2years),Ref. / Doc.,Country,Region,Publisher,Coverage,Categories,Areas\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
0,1,28773,Ca-A Cancer Journal for Clinicians,journal,15424863\t 00079235,56\t204,Q1,182,41,121,...,17959,78,186\t75,97\t71,United States,Northern America,Wiley-Blackwell,1950-2021,Hematology (Q1); Oncology (Q1),Medicine\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
1,2,20315,Nature Reviews Molecular Cell Biology,journal,14710072\t 14710080,33\t213,Q1,452,111,338,...,13797,161,38\t55,81\t31,United Kingdom,Western Europe,Nature Publishing Group,2000-2021,Cell Biology (Q1); Molecular Biology (Q1),Biochemistry\t Genetics and Molecular Biology\...
2,3,29431,Quarterly Journal of Economics,journal,00335533\t 15314650,31\t348,Q1,272,48,111,...,2241,110,16\t30,70\t96,United Kingdom,Western Europe,Oxford University Press,1886-2021,Economics and Econometrics (Q1),Economics\t Econometrics and Finance\t\t\t\t\t...
3,4,18434,Cell,journal,00928674\t 10974172,25\t716,Q1,814,517,1727,...,73240,1639,45\t00,65\t10,United States,Northern America,Cell Press,1974-2021,Biochemistry\t Genetics and Molecular Biology ...,Biochemistry\t Genetics and Molecular Biology\...
4,6,15847,New England Journal of Medicine,journal,00284793\t 15334406,24\t907,Q1,1079,1453,4498,...,143343,1891,35\t41,10\t16,United States,Northern America,Massachussetts Medical Society,1945-2021,Medicine (miscellaneous) (Q1),Medicine\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27333,27335,144807,WSEAS Transactions on Electronics,journal,24151513\t 11099445,NaN,-,10,20,0,...,0,0,0\t00,20\t80,Greece,Western Europe,World Scientific and Engineering Academy and S...,2005-2009,Electrical and Electronic Engineering,Engineering\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\...
27334,27336,144808,WSEAS Transactions on Information Science and ...,journal,17900832,NaN,-,21,21,0,...,0,0,0\t00,24\t33,Greece,Western Europe,World Scientific and Engineering Academy and S...,2005-2014,Computer Science Applications; Information Sys...,Computer Science\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
27335,27337,144813,WSEAS Transactions on Systems,journal,11092777,NaN,-,27,38,0,...,0,0,0\t00,22\t82,Greece,Western Europe,World Scientific and Engineering Academy and S...,2005-2014,Computer Science Applications; Control and Sys...,Computer Science; Engineering\t\t\t\t\t\t\t\t\...
27336,27338,21101046690,Z Badan nad Ksiazka i Ksiegozbiorami Historycz...,journal,25448730\t 18970788,NaN,-,0,19,0,...,0,0,0\t00,40\t63,Poland,Eastern Europe,Grupa Cogito Sp. z o,2021,Arts and Humanities (miscellaneous); Communica...,Arts and Humanities; Social Sciences\t\t\t\t\t...
27337,27339,20904,Zhongguo ji sheng chong xue yu ji sheng chong ...,journal,10007423,NaN,-,20,134,0,...,0,0,0\t00,27\t19,China,Asiatic Region,Zhongguo Yufang Yixue Kexueyuan,1987-1995\t 1998-2016,Medicine (miscellaneous),Medicine\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...

In [41]:
df_new=df.iloc[:,15:18]
df_new

,Country,Region,Publisher
0,United States,Northern America,Wiley-Blackwell
1,United Kingdom,Western Europe,Nature Publishing Group
2,United Kingdom,Western Europe,Oxford University Press
3,United States,Northern America,Cell Press
4,United States,Northern America,Massachussetts Medical Society
...,...,...,...
27333,Greece,Western Europe,World Scientific and Engineering Academy and S...
27334,Greece,Western Europe,World Scientific and Engineering Academy and S...
27335,Greece,Western Europe,World Scientific and Engineering Academy and S...
27336,Poland,Eastern Europe,Grupa Cogito Sp. z o
27337,China,Asiatic Region,Zhongguo Yufang Yixue Kexueyuan

In [42]:
df_new.to_csv("/content/publishers.csv",index=True)

In [43]:
df_new

,Country,Region,Publisher
0,United States,Northern America,Wiley-Blackwell
1,United Kingdom,Western Europe,Nature Publishing Group
2,United Kingdom,Western Europe,Oxford University Press
3,United States,Northern America,Cell Press
4,United States,Northern America,Massachussetts Medical Society
...,...,...,...
27333,Greece,Western Europe,World Scientific and Engineering Academy and S...
27334,Greece,Western Europe,World Scientific and Engineering Academy and S...
27335,Greece,Western Europe,World Scientific and Engineering Academy and S...
27336,Poland,Eastern Europe,Grupa Cogito Sp. z o
27337,China,Asiatic Region,Zhongguo Yufang Yixue Kexueyuan

In [44]:
df_new=df.iloc[:,17]
df_new.to_csv("/content/publishers_name.csv")